
<body>  
<h2 align="center" style="color:Black">Editing automobile</h2>
<%= render 'form' %>
<div>
<%= link_to 'Show', @automobile %> |
<%= link_to 'Back', automobiles_path %>
</div>     
</body>
             
